body, h1 , h2 ,h3, h4, p, a {
  margin: 0;
  font-size: 80%;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
h4 {
  font-family: 'William', serif;
}
body {
  margin: 0;
  background-color: antiquewhite;
}
.nn {
   display: none;
}
.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(/photos/main.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-title {
  margin: auto;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 8px 0 30px rgba(0 , 0 , 0 , 1);
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 33.333%;
  align-items: center;
  margin: 80px auto;
  max-width: 1350px;
  font-size: 20px;
}
.overlay {
  display: flex;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, .5);
}
.card {
  display: inline-block;
  max-width: 350px;
  margin: 0 auto 50px auto;
  padding: 45px 45px 70px;
  box-shadow: 5px 5px 6px rgba(255 , 154 , 0 , .5);
  background-color: rgba(244,164,96, .2);
}

.card2 {
  flex: 1 1 auto;
}
.card3 {
}
.card-color {
  box-shadow: 5px 5px 6px rgba(255 , 8 , 0 , .5);
}
.card-color2 {
  box-shadow: 5px 5px 6px rgba(196, 0, 255, .3);
}
.card-color3 {
  -webkit-box-shadow: 2px 2px 7px 2px #FF8080, -6px 2px 7px 2px #FFE488, -5px -2px 7px 2px #8CFF85, 6px -2px 10px 2px #80C7FF, 6px 5px 10px 4px #E488FF, -2px 2px 5px 4px #FF616B, -5px -4px 13px 1px #8E5CFF, 2px 2px 7px 2px rgba(147, 16, 255, 0);
  box-shadow: 2px 2px 7px 2px #FF8080, -6px 2px 7px 2px #FFE488, -5px -2px 7px 2px #8CFF85, 6px -2px 10px 2px #80C7FF, 6px 5px 10px 4px #E488FF, -2px 2px 5px 4px #FF616B, -5px -4px 13px 1px #8E5CFF, 2px 2px 7px 2px rgba(147, 16, 255, 0);
}
.card-image {
  width: 70%;
  margin-bottom: 25px;
  box-shadow: 4px 4px 5px rgba(0 , 0 , 0, .3);
}
.card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.card-text {

}
.card:hover {
  font-size: 22px;
}
.card:active {
  position: relative;
  top: 3px;
}
.card-text a {
  text-decoration: none;
  color:black;
  font-size: 16px;
}
.gg {
  margin: 0 auto;
  max-width: 840px;
}
.botton {
  text-align: center;
  display: inline-block;
  max-height: 45px;
  mask-width:50vh;
  margin: 50vh;
  padding: 0 15px ;
  background-color: rgb(17, 160, 226);
  border: 3px solid rgb(17, 160, 226);
  border-radius: 25px;
  filter: drop-shadow(0px 6px 20px rgb(17, 160, 226, 0.54));
}
.botton:hover{
  background-color: rgb(32, 115, 153);
  border: 3px solid rgb(32, 115, 153);
  filter: drop-shadow(0px 6px 20px rgb(32, 115, 153, 0.54));
}
.botton:active{
  position: relative;
  top: 2px;
  background-color: rgb(14, 46, 61);
  border: 3px solid rgb(14, 46, 61);
  filter: drop-shadow(0px 6px 20px rgb(14, 46, 61, 0.54));
}
.botton a{
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 40px;

  color: #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
}
.footer {
  display: flex;
  height: 200px;
  background-color: black;
}
.footer-author {
  margin: auto;
  color: white;
  font-size: 24px;

}
.footer-author a {
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 23px;
  color: rgb(177, 114, 12);
}

.Legendari{
  color: rgb(255 , 154 , 0);
  margin-bottom: .5vh;
  font-size: 20px;
}
.Mythic {
  color: rgb(255 , 8 , 0 );
  margin-bottom: .5vh;
  font-size: 20px;
}
.Epic {
  color: rgb(196 , 0 , 255);
  margin-bottom: 5vh;
  font-size: 20px;
}
.Chromatic {
  background: linear-gradient(to right, #fa709a 0%, #fee140 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5vh;
  font-size: 20px;
}
.ad {
  position: absolute;
  margin-top: 180px;
}
.ad a {
  display: none;
  text-decoration: none;
  font-size: 15px;
  color: grey;
}
.adb {
  margin: 20px;

}
.adb a{
  text-decoration: none;
  font-size: 20px;
}
.err {
  font-size: 30px;
  text-align: center
}
.err a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}
@media (max-width: 1300px) {
  .content {
    max-width: 1000px;
  }
}
@media (max-width: 880px) {
  .content {
    max-width: 600px;
  }
  .card {
    max-width: 400px;
  }
}

@media (max-width: 580px) {
  .card {
    max-width: 300px;
  }
  .header-title {
    font-size: 70px;
  }
}